.c-editForm {
  &__inputContainer {
    margin-bottom: $space_m;

    & > label, .label {
      font-size: $font-size_s;
      font-weight: bold;
    }

    &--full {
      width: 100%;
    }

    &--half {
      width: calc(50% + #{$space_m} / 2);
      margin-right: $space_m;

      &:last-child {
        margin-right: 0;
      }

      @include mq($breakpoint: md) {
        width: 100%;
      }
      @include mq() {
        width: 100%;
      }
    }

    &--third {
      width: calc(100% / 3 + #{$space_m} / 3);
      margin-right: $space_m;

      &:last-child {
        margin-right: 0;
      }
    }

    & input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    textarea {
      background-color: #fff;
      border: .5px solid $border-color_default;
      width: 100%;
    }
  }

  &__input {
    height: 3em;
  }

  &__fixed {
    line-height: 3em;
    background-color: $bgColor_thr;
    border: .5px solid $border-color_default;
    padding: 0 $space_m;
  }

  &__select {
    background-color: #fff;
    border: .5px solid $border-color_default;
    height: 3em;

    & select {
      height: 100%;
      width: 100%;
      padding: 0 $space_m;
    }
  }

  &__textarea {
    height: 150px;
  }

  &__radio {
    white-space: nowrap;

    & li {
      overflow: hidden;
      margin-right: $space_l;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__imgContainer {
    display: flex;
    margin-bottom: $space_m;
    width: 100%;
    padding: $space_m;
    background: #fff;
    justify-content: center;
    border: .5px solid $border-color_default;
    @include mq($breakpoint: md) {
      overflow-x: scroll;
      justify-content: inherit;
    }
    @include mq() {
      overflow-x: scroll;
      justify-content: inherit;
    }
  }

  &__imgItem {
    width: calc(100% / 5 - #{$space_vw/2} + #{$space_vw/2} / 5);
    margin-right: $space_vw/2;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    @include mq($breakpoint: md) {
      min-width: 50%;
      margin: 0 auto;
      &:last-child {
        margin-right: auto;
      }
    }
    @include mq() {
      min-width: 50%;
      margin: 0 auto;
      &:last-child {
        margin-right: auto;
      }
    }

    & label {
      display: block;
      position: relative;
      font-size: $font-size_s;
      font-weight: bold;
      z-index: 2;
      cursor: pointer;
    }
  }

  &__spInner {
    @include mq($breakpoint: md) {
      margin-right: $space_vw/2;
    }
    @include mq() {
      margin-right: $space_vw/2;
    }
  }

  &__dropzone {
    background-color: $bgColor_thr;
    border: .5px solid $border-color_default;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "ドラッグ＆ドロップ";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      white-space: nowrap;
    }

    & input[type="file"] {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__caution {
    font-size: $font-size_s;
    width: fit-content;
    margin: 0 auto $space_m;

    &--left {
      margin: $space_s auto $space_s 0;
    }
  }
}