.c-user {
  &__head {
    width: 30%;
    margin: 0 auto $space_m;
    display: block;
  }

  &__body {
    text-align: center;
    font-size: $font-size_s;
  }

  &__info {
    margin-bottom: $space_m;

    & a {
      height: 100%;
      display: inline-block;
    }

    & i {
      padding: $space_s;
      font-size: $font-size_default;
    }
  }

  &__label {
    font-weight: bold;
  }

  &__icon {
    width: 100%;
    min-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: .5px solid $border-color_default;
    position: relative;

    &--msg {
      @include mq() {
        min-width: 50px;
      }
    }

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
      position: relative;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}