.p-msg {
  &__head {
    display: flex;
    padding: $space_l 0;
    @include mq() {
      display: block;
    }
  }

  &__img {
    width: 30%;
    border: .5px solid $border-color_default;
    border-radius: 3px;
    @include mq() {
      width: 100%;
    }
  }

  &__info {
    width: 70%;
    margin-left: $space_l;
    @include mq() {
      width: 100%;
      margin-left: 0;
    }

    &Item {
      margin-bottom: $space_m;
    }

    &Label {
      font-weight: bold;
      font-size: $font-size_s;
    }
  }

  &__userName {
    padding: 0 $space_m;
    font-size: $font-size_s;
  }

  &__body {
    background: #fff;
  }

  &__msgArea {
    height: 500px;
    @include mq() {
      height: calc(100vh - 193px);
    }
    padding: $space_l $space_m;
    overflow: scroll;
    overflow-x: hidden;
  }

  &__right, &__left {
    display: flex;
    margin-bottom: $space_l;
    position: relative;
  }

  &__right {
    flex-direction: row-reverse;

    & .p-msg__userIcon {
      margin-left: $space_l;
    }

    & .p-msg__speech {
      align-items: flex-end;
    }

    & .p-msg__triangle {
      right: -25px;
      border-left: 20px solid $bgColor_msg;
      border-right: 8px solid transparent;
    }
  }

  &__left {
    & .p-msg__userIcon {
      margin-right: $space_l;
    }

    & .p-msg__triangle {
      left: -25px;
      border-right: 20px solid $bgColor_msg;
      border-left: 8px solid transparent;
    }
  }

  &__text {
    min-width: 150px;
    word-wrap: break-word;
    padding: $space_m;
    background: $bgColor_msg;
    border-radius: 15px;
    width: fit-content;
  }

  &__speech {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    font-size: $font-size_s;
  }

  &__triangle {
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  &__date {
    font-size: $font-size_s;
  }

  &__sendArea {
    padding: $space_l $space_m;
    margin-bottom: $space_l;
  }

  &__input {
    background: $bgColor_default;
    width: 100%;
    height: 100px;
    padding: $space_m;
    margin-bottom: $space_m;
    border-radius: 15px;
  }

  &__none {
    text-align: center;
    line-height: 20;
  }
}